body{
	background: #1F1F1F;
	margin:0 auto;
	color: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
}
header{
    background: #131313;
    padding: 30px 0;
    border-bottom: 1px solid #090909;
}
header h1{
	text-align: center;
	font-weight: 400;
	margin: 0 auto;
	text-transform: uppercase;
	color: #9A9A9A;;
}
.btns-container{
    width: 100%;
    padding: 10px 0;
    background: #2D2D2D;
    border-bottom: 2px solid #868686;
}
.btns-container .header-btns{
	width: 80%;
	margin: 0 auto;
}
.btns-container .options-btn{
    background: #424242;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #868686;
    display: inline-block;
    cursor: pointer;
}
.btns-container .options-btn:hover{
    color: #DC9F17;
    border: 1px solid #DC9F17;
}
.functions-btns{
	float: right;
}
.function-btn{
    width: 45px;
    height: 45px;
    background: #424242;
    border-radius: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
}
.AddContact-btn{
    background: url('../images/add.png') center no-repeat;
}
.AddContact-btn:hover{
    background: url('../images/add-hover.png') center no-repeat;
}
.EditContact-btn{
    width: 62px !important;
    background: url('../images/edit.png') center no-repeat;
}
.EditContact-btn:hover{
    background: url('../images/edit-hover.png') center no-repeat;
}
.DeleteContact-btn{
    background: url('../images/delete.png') center no-repeat;
}
.DeleteContact-btn:hover{
    background: url('../images/delete-hover.png') center no-repeat;
}
#contact-form{
    display: none;
}
.save-button{
    display: none;
    cursor: pointer;
    background: #DC9F17;
    padding: 5px 15px;
    border: 1px solid #FDD885;
    border-radius: 11px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.save-button:hover{
    background: #75560E;
    color: #FDD885;
}
.nocontacts-popup{
    margin: 0 auto;
    text-align: center;
    color: #DC9F17;
    font-size: 20px;
    padding: 30px 0;
    display: none;
}
.contact-label{
    width: 100%;
    font-size: 20px;
    padding: 10px 0 10px 100px;
    border-bottom: 1px solid #131313;
    border-top: 1px solid #313131;
    cursor: pointer;
}
.contact-label:hover{
	background: #131313;
	color: #DC9F17;
}
.contact-form{
    width: 100%;
    padding: 10px 0;
}
.contact-form form{
	width: 400px;
	margin:0 auto;
}
.contact-form input{
	margin-bottom: 8px;
    background: #000;
    padding: 7px;
    border: 1px solid #2D2D2D;
    border-radius: 3px;
    width: 49.3%;
    color:#DC9F17;
}
.contact-Email{
	width: 100% !important;
}
.contact-Address{
	width: 100% !important;
	padding-bottom: 100px !important;
}